body{
    box-sizing: border-box;
    font-family: Open Sans;
    min-width: 750px;
}
a{
    text-decoration:none;
    color:inherit;
}
a:hover{
    text-decoration: none;
}
.section{
    min-width: 750px;
}