    * {
        text-align: center;
        vertical-align: middle;
    }
    
    a,
    a:hover {
        text-decoration: none;
        color: inherit;
    }
    
    .logo {
        width: 99%;
        position: relative;
        z-index: 3;
    }
    
    .black-bg {
        background: black;
        position: relative;
        padding-bottom: 50px;
    }
    
    .bottom-black-bg {
        margin-top: -150px;
    }
    
    .white-bg {
        background: white;
        padding-bottom: 100px;
        &:before {
            content: "";
            display: block;
            width: 120%;
            margin-top: -50px;
            background: white;
            padding-top: 200px;
            -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
            position: relative;
            z-index: 2;
        }
        &:after {
            content: "";
            display: block;
            padding-top: 200px;
            margin-left: -10%;
            width: 120%;
            transform: rotate(-3deg);
            background: black;
            margin-top: -00px;
            position: relative;
            z-index: 1;
        }
    }
    
    @media(min-width: 991px) {
        .white-bg {
            &:before {
                margin-top: -80px;
            }
        }
    }
    
    .menu-section {
        margin-top: -150px;
        position: relative;
        z-index: 2;
    }
    
    sections {
        margin-top: 10px;
    }
    
    .page-wrapper {
        max-width: 100vw;
        overflow-x: hidden;
    }
