svg {
    display: block;
    margin: auto;
    width: 70%;
    max-height: 7vh;
    margin-top: 50px;
    margin-bottom: 30px;
}
.hidden-header{
    opacity: 1 !important;
    transition:opacity 0.8s;
}
.header{
    opacity: 0;
    height: 65px;
    margin-top: 20px;
    transition:opacity 0.8s;
}