svg {
    display: block;
    margin: auto;
    width: 70%;
    max-height: 7vh;
    margin-top: 50px;
    margin-bottom: 30px;
}
object{
    width: 60%;
    max-height: 5vh;
    margin-top: 50px;
    margin-bottom: 30px;
}
.gif_header{
    height: 70px;
    margin-top: 20px;
}
#ContactsHeader{
    height: 60px;
}
#QualityHeader{
    height: 60px;
}