.map-block {
    position: relative;
    width: 300px;
    opacity: 1;
    -webkit-transition: 1s;
    transition: 1s;
    min-width: 300px;
    &:hover {
        cursor: pointer;
    }
}

.img-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1px;
    & img {
        width: 100%;
        border-radius: 100%;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
    }
}

.text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 180%;
    font-family: Arial;
    font-weight: 900;
    text-align: center;
    position: absolute;
    width: 99.5%;
    height: 100%;
    line-height: 100%;
    margin-top: -100%;
    color: lightgray;
    z-index: 2;
    text-transform: uppercase;
    -webkit-transition: 1s;
    transition: 1s;
    & span {
        margin: auto;
        ;
    }
}

.img-container__black-mask {
    display: block;
    width: 70%;
    height: 70%;
    position: absolute;
    left: 15%;
    top: 15.1%;
    background-image: url(../source/bg-mask.png);
    border-radius: 100%;
    transition: 0.5s;
}

.img-container__gray-mask {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-box-shadow: inset 0 0 0 46px white;
    box-shadow: inset 0 0 0 46px white;
    border-radius: 100%;
}

@media(min-width: 991px) {
    .map-block:hover {
        & .text-container {
            color: black;
            -webkit-transition: 1s;
            transition: 1s;
        }
        & .img-container__gray-mask {
            -webkit-box-shadow: inset 0 0 0 0px white;
            box-shadow: inset 0 0 0 0px white;
        }
        & .img-container__black-mask {
            width: 0%;
            height: 0%;
            left: 50%;
            top: 50%;
            -webkit-transition: 0.5s;
            transition: 0.5s;
        }
        & img {
            -webkit-filter: grayscale(0);
            filter: grayscale(0);
        }
    }
    .img-container__gray-mask {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        -webkit-box-shadow: inset 0 0 0 46px white;
        box-shadow: inset 0 0 0 46px white;
        border-radius: 100%;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }
}
