.map-block {
    position: relative;
    width: 300px;
    height: 300px;
    opacity: 1;
    -webkit-transition: 1s;
    transition: 1s;
    min-width: 300px;
    &:hover {
        cursor: pointer;
    }
}

.img-container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1px;
    .map-bg {
        margin: auto;
        height: 70%;
        width: 70%;
         border-radius: 100%;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        transition: 0.5s;
    }
}

.text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 180%;
    font-family: Arial;
    font-weight: 900;
    text-align: center;
    position: absolute;
    width: 99.5%;
    height: 100%;
    line-height: 100%;
    margin-top: -100%;
    color: black;
    z-index: 2;
    text-transform: uppercase;
    -webkit-transition: 1s;
    transition: 1s;
    & span {
        margin: auto;
        ;
    }
}

@media(min-width: 991px) {
    .map-block:hover {
        & .text-container {
            color: black;
            -webkit-transition: 1s;
            transition: 1s;
        }
        & img {
            -webkit-filter: grayscale(0);
            filter: grayscale(0);
        }
        .map-bg {
            height: 90%;
            width: 90%;
            transition: 0.5s;
        }
    }
}
