.menu__item{
    display: block;
    font-weight: bold;
    font-size: 18px;
    min-height: 160px;
    margin-bottom: 50px;
}
.menu__span{
    display: block;
    text-transform: uppercase;
    opacity: 0;
    -webkit-transition: all 1s;
    transition: all 1s;
    margin-top: -10px;
}
.menu__span-visible{
    margin-top: 0;
    opacity: 1;
}