.opacity-delay-1 {
    transition-delay:0s;
}

.opacity-delay-2 {
    transition-delay:0s;
}

@media(min-width: 991px) {
    .opacity-delay-1 {
        transition-delay: 1.5s;
    }
    .opacity-delay-2 {
        transition-delay: 3s;
    }
}
