.quality-wrapper {
    & div {
        padding: 20px;
        & img {
            height: 200px;
            width: 200px;
        }
        & span {
            font-weight: bold;
            font-size: 18px;
            margin-top: 20px;
            display: block;
        }
    }
}

.quality-item {
    opacity: 0;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
}